@import url(https://fonts.googleapis.com/css?family=Khula);

html, body {
    font-family: "Khula";
    width: 100%;
    height: 100%;
    font-size: 12px;

}

div#time_slide_form.slider {
  width: 450px;
}

header {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  z-index: -1;
  

}
h1, h2 {
  display:inline-block;
  vertical-align: middle;
  padding-left: 10px;
}


#slider-range, #amt-range {
  width:400px;
  margin-top:10px;
}

#button, #button2 {
  width:130px;
  padding-right:5px;
  background-color: #225ea8;
  color: #fff;
  display:inline-block;
  text-align: center;
  font-size: 14px;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius:1em;
}

td {
  padding: 5px;
}

#contact, #how{
  display: none;
  background: #225ea8;
  color: #FFF;
  width: 300px;
  padding-left:70px;
  padding-top: 50px;
  padding-right:70px;
  padding-bottom: -50px;
  position: absolute;
  right: 10px;
  top:0px;
  height:92%;
  opacity: 50%;
  border-left: 3px double;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius:10em;
  z-index:2;
  text-align: center;
}


#color-container {
  /*position: absolute;
  right: 10px;
  font-variant: small-caps;*/
  text-align: center;
  width:100px;
  padding: 5px;
  /*border: 2px double #ccc;*/
}

#toggle {
  position: relative;
  right: 0px;
  top:0px;
  z-index: 1;
  text-decoration: none;
}

#slider_container {
  position: relative;
  padding-left: 50px;
}

div.bar {
    position:relative;
    display: inline-block;div
    width: 10px;
    height: 0px;
    background-color: blue;
}

/* does this work let's all pray */
svg {
  background-color: white
  position: relative;
}

#graph-container {
    left: 30%;
    width: 800px;
    height: 500px;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

.d3-tip {
  line-height: 1;
  font-weight: none;
  font-size:10px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  pointer-events: none;
  min-width:250px; /* I have changed here */
    max-width:250px;
    position: absolute;
}

#results,#vc_companies {
  position: relative;
  top: 0px;
  right: 15px;
  margin-top: 5px;
  border: 2px double #ccc;
  width: 300px;
  height:100px;
  overflow: auto;
  display:none;
  background-color: #eee;
}

#display-search-text {
  display:none;
}

#results-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 40px;
  /*border-left: 1px double #222; */
  height: 100%;
  background-color: #ccc;
}
.test-class {
  position: relative;
  height:200px;
  overflow: auto;
  border: 2px double #ccc;
  width: 300px;
  right: 15px;
  background-color: #eee;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.yaxis, .xaxis {
  font-size:10px;
}

/* Customization to limit height of the menu */
.custom-restricted {
    height: 700px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 4px;
}